* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    margin: 0;
    background-color: #55a6e6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #5b67ec;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/portfolio-background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 0 10px rgba(4, 62, 253, 0.5);
    padding: 10px 15px;
}

p {
    font-size: 16px;
}

.hero {
    height: 250px;
    width: 100%;
    background-image: url("../images/portfolio-background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    align-items: flex-start;
}

.hero-tag {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.hero-tag p {
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color:#ffffff;
    text-decoration: none;
}



.bio {
    display: inline-flex;
}

.bio h2 {
    display: inline-flex;
    height: 100%;
    align-items: center;
    padding-right: 71.96px;  
}

.bio img {
    display: inline-flex;
    width: 200px;
    height: 200px;
    border-radius: 15px;

}

.bio p {
    display: inline-flex;
    align-items: center;
    font-size: 32px;
    color: #ffffff;
    padding-left: 10px;
    
}

.aboutme {
    display: inline-flex;
    padding-left: 25px;

}

.projects {
    display: inline-flex;
    padding-top: 50px;
}

.projects h2 {
    display: inline-flex;
    height: 100%;
    align-items: center;
    padding-right: 82.65px; 
}

.buttons {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}




.section-title {
    font-size: 48px;
    color: #ffffff;
    border-right: 5px solid rgb(255, 255, 255);

}

.box {
    height: 100px;
    width: 500px;
    background-size: cover;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}


.box h3 {
    font-size: 32px;
    color: #ffffff;
}

#run-buddy {
    background-image: url("../images/run-buddy.jpg");
}

#oop {
    background-image: url("../images/objected-oriented.jpg");
}

#vending-machine {
    background-image: url("../images/vending-machine.jpg");
}

#quidditch-game {
    background-image: url("../images/quidditch-game.jpg");
}

#bank-management {
    background-image: url("../images/atm-machine.jpg");
}


.socials {
    display: inline-flex;
    padding-top: 50px;
}

.socials h2 {
    display: inline-flex;
    height: 100%;
    align-items: center;
    padding-right: 30.82px;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
      .header {
        padding-bottom: 0;
        justify-content: center;
        position: absolute;
      }
    
      .header h1 {
        width: 100%;
        text-align: center;
        
      }
    
      .header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        color: #55a6e6;
      }

      
    
      .header nav ul li a {
        font-size: 20px;
      }

      .hero, .hero-tag {
          width: 100%;
      }

     
    }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
   
    .box {
        margin: 20px 0 20px 0;
        height: 100px;
        width: 100%;


    }

    .header nav ul li {
        margin-left: none;
    }

    
    .bio {
        display: flex;
        flex-direction: column;
    }
    
    
    .bio h2 {
        justify-content: center;
        border-bottom: 5px solid #ffffff ;
        padding-top: 50px;
        border-right: none;
        

    }

    .bio p {
        display: flex;
        padding-left: none;
        flex-wrap: wrap;
    }

    .aboutme {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-left: none;
        


    }

    .projects {
        display: flex;
        flex-direction: column;
    }
    
    .projects h2 {
        justify-content: center;
        border-bottom: 5px solid #ffffff ;
        border-right: none;
    }

    .buttons {
        justify-content: flex-start;
    }
    .socials {
        display: flex;
        flex-direction: column;
    }

    .socials h2 {
        justify-content: center;
        border-bottom: 5px solid #ffffff ;
        padding-top: 20px;
        border-right: none;
    }

    .icons {
        padding-top: 20px;
        justify-content: space-evenly;
        width: fit-content;
    }

        
    }
  
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {

  }
      
