* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    margin: 0;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 250px;
    width: 100%;
    background-image: url("../images/portfolio-background.jpg");
    background-size: cover;
    background-position: center;
}

.hero-tag {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.hero-tag p {
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color:#ffffff;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    flex: .65;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:40px;
    height: 800px;
}

.content {
    flex: 4;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    
}

.section-title {
    font-size: 48px;
    border-right: 5px solid black;
    padding-right: 10px;
}

.aboutme {
    height: fit-content;
}

.content {
    width: 900px;
    margin: 0 auto 30px auto;
    overflow: auto;
    display: flex;
    justify-content: space-around;
  }

.content img {
    padding: 10px 0 0 0;
   width: 200px;
   height: 200px;
   float: left;
    
}

.content p {
  padding: 35px;
  float: left;
  width: 65%;
    
}
.work {
    width: 100%;
}

.information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    height: 100px;
    width: 500px;
    background-size: cover;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    
}



.box h3 {
    font-size: 32px;
    color: #ffffff;
}

#run-buddy {
    background-image: url("../images/run-buddy.jpg");
}

#oop {
    background-image: url("../images/objected-oriented.jpg");
}

#vending-machine {
    background-image: url("../images/vending-machine.jpg");
}

#quidditch-game {
    background-image: url("../images/quidditch-game.jpg");
}

#bank-management {
    background-image: url("../images/atm-machine.jpg");
}